---
layout: default
title: Blog
description: "Artigos e notas."
permalink: /blog/
---

<div id="ww">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<h1>Blog</h1>
				<p>Textos sobre desenvolvimento, projetos e o que mais couber. <a href="{{ '/blog/tags/' | relative_url }}">Ver por tags</a> · <a href="{{ '/feed.xml' | relative_url }}">Feed RSS</a></p>
			</div>
		</div>
	</div>
</div>

<div class="posts">
	{% if site.posts.size == 0 %}
		<div class="post-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 centered">
						<p>Nenhum post ainda. Crie um arquivo em <code>_posts/YYYY-MM-DD-titulo.md</code> com front matter <code>title</code> e <code>date</code>.</p>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	{% for post in site.posts %}
		<div class="post-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<p><img src="{{ '/assets/img/user.png' | relative_url }}" width="50" height="50" alt=""> <ba>{{ post.author | default: site.author.name }}</ba></p>
						<p><bd>{{ post.date | date: "%d/%m/%Y" }}</bd></p>
						<h2><a href="{{ post.url | relative_url }}" class="post-title-link">{{ post.title }}</a></h2>
						{% if post.img %}
							<p><img class="img-responsive" src="{{ post.img | relative_url }}" alt=""></p>
						{% endif %}
						<div class="post-excerpt">{{ post.excerpt }}</div>
						<p><a href="{{ post.url | relative_url }}">Ler mais →</a></p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
