---
layout: default
---
<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="assets/img/user.png" alt="Stanley">
        <h1>Olá! Eu sou Isaque Bressy.</h1>
        <p>Esta página está em desenvolvimento.</p>
        <p>Enquanto isso, você pode entrar em contato comigo através de <br />
          isaque@bressy.com.br</p>
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /ww -->

<<!-- +++++ Projects Section +++++ -->

<div class="container pt">
	{% for work in site.work %}
		{% if work.published == true %}
			{% cycle 'add rows': '<div class="row mt centered">', '', '' %}
		
				<div class="col-lg-4">
					<a class="zoom green" href="{{ work.url | prepend: site.baseurl }}"><img class="img-responsive" src="{{ work.img }}" alt="" /></a>
					<p>{{ work.title }}</p>
				</div>
			
			{% cycle 'close rows': '', '', '</div>' %}
		{% endif %}
	{% endfor %}
	{% cycle 'close rows': '', '</div>', '</div>' %}
</div><!-- /container -->