<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Contato</h4>
                <p>isaque@bressy.com.br</p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>Links</h4>
                <p>
                    <a href="http://facebook.com/isaque.bressy">Facebook</a><br />
                    <a href="https://plus.google.com/+IsaqueBressy">Google+</a><br />
                    <a href="https://twitter.com/isaquebressy">Twitter</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About Stanley</h4>
                <p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
            </div><!-- /col-lg-4 -->
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/bootstrap.min.js"></script>