---
layout: my-site
---

<div id="white">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<article class="post-article">
					<header class="post-header-block">
						<p class="post-meta-line">
							<img src="{{ '/assets/img/user.png' | relative_url }}" width="50" height="50" alt="">
							<ba>{{ page.author | default: site.author.name }}</ba>
						</p>
						<p><bd><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d/%m/%Y" }}</time></bd></p>
						<h1>{{ page.title }}</h1>
						{% if page.img %}
							<p><img class="img-responsive" src="{{ page.img | relative_url }}" alt=""></p>
						{% endif %}
					</header>
					<div class="post-body">
						{{ content }}
					</div>
					<footer class="post-footer-meta">
						{% if page.categories.size > 0 %}
							<p><bt>Categorias: {% for c in page.categories %}<a href="{{ '/blog/tags/' | relative_url }}#cat-{{ c | slugify }}">{{ c }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</bt></p>
						{% endif %}
						{% if page.tags.size > 0 %}
							<p><bt>Tags: {% for t in page.tags %}<a href="{{ '/blog/tags/' | relative_url }}#{{ t | slugify }}">{{ t }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</bt></p>
						{% endif %}
						<hr>
						<p><a href="{{ '/blog/' | relative_url }}">← Voltar ao blog</a></p>
					</footer>
				</article>
			</div>
		</div>
	</div>
</div>
